# .web/.next
# .web/components
# .web/node_modules
# .web/pages
# .web/public
# .web/utils
# .web/*.json
# .web/*.js
# .web/bun.lockb
.git
__pycache__/*
Dockerfile
prod.Dockerfile
Caddy.Dockerfile
Caddyfile
compose.yaml
compose.*.yaml
# uploaded_files