.light {
    .root-box {
      background-color: #F9F8F8;
    }

    .autosize-textarea-post:focus {
        outline: none;
        border: 2px solid #ccc;
        border-radius: 7px;
    }

    .autosize-textarea-comment:focus {
        outline: none;
        border: 2px solid #ccc;
        border-radius: 7px;
    }
}

.dark {
    .autosize-textarea-post:focus {
        outline: none;
        border: 2px solid #62605b;
        border-radius: 7px;
    }

    .autosize-textarea-comment:focus {
        outline: none;
        border: 2px solid #62605b;
        border-radius: 7px;
    }
}

.autosize-textarea-post {
    resize: none;
    overflow: hidden;
    min-height: 100px;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    line-height: 1.5;
}

.autosize-textarea-comment {
    resize: none;
    overflow: hidden;
    min-height: 1.5em;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    line-height: 1.5;
}