.light {
    .radix-themes {
      background-color: #F9F8F8;
    }

    .autosize-textarea:focus {
        outline: none;
        border: 2px solid #ccc;
    }
}

.dark {
    .autosize-textarea:focus {
        outline: none;
        border: 2px solid #62605b;
    }
}

.autosize-textarea {
    resize: none;
    overflow: hidden;
    min-height: 100px;
    max-height: 300px;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
}